.footer {
  background-color: #111;
  color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;  
}
@media(width:900px){
  .footer{
    width: 1000px;
  }
}


.footer-container {
  
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #00adb5;
}